<!-- Cart Page -->
<div class="cart-page pt53">
  <div class="cart-container">
    <div class="row ml0 mr0 p15 searchbar-header">
      <div class="col-sm-6">
        <input type="text" placeholder="Search by product name" class="form-control" (keyup)="filterByLetter($event)">
      </div>   
      <div class="col-sm-6 text-right">
        <i (click)="navigateToCheckoutPage()" [ngClass]="isExample ? 'fa fa-shopping-cart mr10 pointer-event' : 'fa fa-shopping-cart mr10'"></i>
        <label class="text-center mb0 item-cart bold">{{itemCount}}</label>
      </div>    
    </div>

    <div class="row ml0 mr0">
      <!-- Filter Section -->
      <div class="col-sm-2 filter-section p0">
        <div class="row mr0 ml0 border-bottom-color">
          <p class="p15 filter-header mb0 col-sm-6">FILTERS</p>
          <div class="col-sm-6 text-right p15">
            <button type="button" class="clear-btn" (click)="clearAllFilter()">Clear</button>
          </div>          
        </div>
       
        <div class="p15 card">
          <section>
            <p class="filter-section-title mb0">CATEGORIES</p>
            <div id="collapseOne" class="collapse show">
              <div class="card-body p15">
                <input type="radio" name="category" class="mb10 pointer" value="men" (change)="filterProducts()" [(ngModel)]="categoryFilter"><span class="card-body-submenu"> Men's Clothing</span><br>
                <input type="radio" name="category" class="mb10 pointer" value="women" (change)="filterProducts()" [(ngModel)]="categoryFilter"><span class="card-body-submenu"> Women's Clothing</span><br>
                <input type="radio" name="category" class="mb10 pointer" value="kid" (change)="filterProducts()" [(ngModel)]="categoryFilter"><span class="card-body-submenu"> Kid's Clothing</span><br>
              </div>
            </div>
          </section>        

          <section>
            <p class="filter-section-title mb0">PRICE</p>
            <div id="collapseTwo" class="collapse show">
              <div class="card-body p15">
                <input type="radio" name="price" class="mb10 pointer" value="499" (change)="filterProducts()" [(ngModel)]="priceFilterString"><span class="card-body-submenu"> Rs. 499 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" value="999" (change)="filterProducts()" [(ngModel)]="priceFilterString"><span class="card-body-submenu"> Rs. 999 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" value="1499" (change)="filterProducts()" [(ngModel)]="priceFilterString"><span class="card-body-submenu"> Rs. 1499 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" value="2000" (change)="filterProducts()" [(ngModel)]="priceFilterString"><span class="card-body-submenu"> Rs. 2000 and below</span>
              </div>
            </div>
          </section>

          <section>
            <p class="filter-section-title mb0">COLOR</p>
            <div id="collapseThree" class="collapse show">
              <div class="card-body p15">
                <input type="checkbox" name="color1" value="Red" class="mb10 pointer" [(ngModel)]="colorFilter.Red" (change)="filterProducts()"><span class="card-body-submenu"> Red</span><br>
                <input type="checkbox" name="color2" value="Blue" class="mb10 pointer" [(ngModel)]="colorFilter.Blue" (change)="filterProducts()"><span class="card-body-submenu"> Blue</span>
              </div>
            </div>
          </section>   
        </div>      
      </div>

      <!-- Cart Section -->
      <div class="col-sm-10 cart-section" *ngIf="cartDetail.length>0">
        <div class="cart text-center m20 inline-block" *ngFor="let cartdetail of cartDetail">
          <img [src]="cartdetail.image.src" alt="full-sleeve-red-men-jacket" class="cart-image">
          <h5 class="mtb5">{{cartdetail.name}}</h5>
          <div class="row ml0 mr0">
            <p class="cart-price text-left col-sm-6 mb0">Rs {{cartdetail.price}}</p>
            <p class="cart-description mb0 text-right col-sm-6">{{cartdetail.color}}</p>
          </div>       
          <button type="button" class="btn w100 cart-btn pointer ripple" (click)="addCartItem(cartdetail)">Add to Cart</button>
        </div>
      </div>
      <div *ngIf="cartDetail.length==0" class="col-sm-10">
        <p>There is no item to display</p>
      </div>
    </div>
  </div>
</div>
