<!-- Cart Page -->
<div class="cart-page pt55">
  <div class="cart-container">
    <div class="row ml0 mr0 p15 searchbar-header">
      <div class="col-sm-6">
        <input type="text" placeholder="Search by product name" class="form-control" (keyup)="filterByLetter($event)">
      </div>   
      <div class="col-sm-6 text-right">
        <i class="fa fa-shopping-cart mr10" (click)="navigateToCheckoutPage()"></i>
        <label class="text-center mb0 item-cart bold">{{itemCount}}</label>
      </div>    
    </div>

    <div class="row ml0 mr0">
      <!-- Filter Section -->
      <div class="col-sm-2 filter-section p0">
        <p class="p15 border-bottom-color filter-header mb0">FILTERS</p>
        <div class="p15 card">
          <section>
            <p class="filter-section-title mb0">CATEGORIES</p>
            <div id="collapseOne" class="collapse show">
              <div class="card-body p15">
                <p class="card-body-submenu mb10 pointer" (click)="filterCategory('men')">Men's Clothing</p>
                <p class="card-body-submenu mb10 pointer" (click)="filterCategory('women')">Women's Clothing</p>
                <p class="card-body-submenu mb10 pointer" (click)="filterCategory('kid')">Kid's Clothing</p>
              </div>
            </div>
          </section>
         

          <section>
            <p class="filter-section-title mb0">PRICE</p>
            <div id="collapseTwo" class="collapse show">
              <div class="card-body p15">
                <input type="radio" name="price" class="mb10 pointer" (change)="selectPrice(499)"><span class="card-body-submenu"> Rs. 499 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" (change)="selectPrice(999)"><span class="card-body-submenu"> Rs. 999 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" (change)="selectPrice(1499)"><span class="card-body-submenu"> Rs. 1499 and below</span><br>
                <input type="radio" name="price" class="mb10 pointer" (change)="selectPrice(2000)"><span class="card-body-submenu"> Rs. 2000 and below</span>
              </div>
            </div>
          </section>

          <section>
            <p class="filter-section-title mb0">COLOR</p>
            <div id="collapseThree" class="collapse show">
              <div class="card-body p15">
                <input type="checkbox" name="color1" value="Red" class="mb10 pointer" [(ngModel)]="colorFilter.Red" (change)="selectColor()"><span class="card-body-submenu"> Red</span><br>
                <input type="checkbox" name="color2" value="Blue" class="mb10 pointer" [(ngModel)]="colorFilter.Blue" (change)="selectColor()"><span class="card-body-submenu"> Blue</span>
              </div>
            </div>
          </section>   
        </div>      
      </div>

      <!-- Cart Section -->
      <div class="col-sm-10 cart-section" *ngIf="cartDetail.length>0">
        <div class="cart text-center m20 inline-block" *ngFor="let cartdetail of cartDetail">
          <img [src]="cartdetail.image.src" alt="full-sleeve-red-men-jacket" class="cart-image">
          <h5 class="mtb5">{{cartdetail.name}}</h5>
          <div class="row ml0 mr0">
            <p class="cart-price text-left col-sm-6 mb0">Rs {{cartdetail.price}}</p>
            <p class="cart-description mb0 text-right col-sm-6">{{cartdetail.color}}</p>
          </div>       
          <button type="button" class="btn w100 cart-btn pointer ripple" (click)="addCartItem(cartdetail)">Add to Cart</button>
        </div>
      </div>
      <div *ngIf="cartDetail.length==0">
        <p>There is no item to display</p>
      </div>
    </div>
  </div>
</div>
